In [ ]:
#2739
n = int(input())
for i in range(1,10):
    print(f"{n} * {i} = {n*i}")

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
#10950
list_ = []
n = int(input())
for i in range(n):
    m_k = input().split()
    list_.append(m_k)
for i in list_:
    print(f"{int(i[0]) + int(i[1])} ")

2
1 2
3 2
3
5

In [ ]:
# 8393
n = int(input())
sum_ = 0
for i in range(n+1):
    sum_ += i
print(sum_)

3
6

In [ ]:
#15552
import sys
list_ = []
n = int(sys.stdin.readline())
for i in range(n):
    m_k = sys.stdin.readline().split()
    list_.append(m_k)
for i in list_:
    print(f"{int(i[0]) + int(i[1])} ")

ValueError: ignored

In [ ]:
#2741
n = int(input())
for i in range(1,n+1):
    print(i)

7
1
2
3
4
5
6
7

In [ ]:
#2742
n = int(input())
for i in range(n,0,-1):
    print(i)

4
4
3
2
1

In [ ]:
#11021
list_ = []
count = 0
n = int(input())
for i in range(n):
    m_k = input().split()
    list_.append(m_k)
for i in list_:
    count +=1
    print(f"Case #{count}: {int(i[0]) + int(i[1])} ")

2
2 1
2 1
Case #1: 2 + 1 = 3
Case #2: 2 + 1 = 3

In [ ]:
#11022
list_ = []
count = 0
n = int(input())
for i in range(n):
    m_k = input().split()
    list_.append(m_k)
for i in list_:
    count +=1
    print(f"Case #{count}: {i[0]} + {i[1]} = {int(i[0]) + int(i[1])} ")

In [ ]:
#2438
n = int(input())
for i in range(1,n+1):
    print('*'* i)

4
*
**
***
****

In [ ]:
#2439
n = int(input())
for i in range(1,n+1):
    print(' '* (n - i)+'*'*i)

4
   *
  **
 ***
****

In [ ]:
#10871
a,b = map(int,input().split())
list_ = input().split()
for i in range(a):
    if int(list_[i]) < (b):
        print(list_[i],end = " ")

3 3
10 2 1
2 1

In [ ]:
#10952
list_ = []
count = 0
a = ""
b = ""
while a != "0" and b != "0":
    a,b = map(str,input().split())
    list_.append(a+" " + b)
while list_:
    if int(list_[count][0]) + int(list_[count][2]) == 0:
        break
    print(int(list_[count][0]) + int(list_[count][2]))
    count += 1

1 3
2 5
3 5
1 7
0 0
4
7
8
8
0

In [ ]:
#10951
while 1 :
    try:
        a, b = map(int,input().split())
        print(a + b)
    except:
        break

1 2
3
3 4
7
2 5
7
dkf

In [ ]:
#1110
n = int(input())
num = n
cicle = 0
 
while 1:
    a = num//10
    b = num %10
    c = (a + b) % 10
    num = (b * 10) + c
    cicle +=1
    if num == n:
        break
print(cicle)

26
4

In [ ]:
#10818
n = int(input())
num = list(map(int,input().split()))
print(min(num),max(num))

4
1 23 45 65
[1, 23, 45, 65]
1 65

In [ ]:
#2562
num = []
for i in range(9):
    num.append(int(input()))
print(max(num))
print(num.index(max(num))+ 1)

2
34
2
12
43
54
32
65
43
65
8

In [ ]:
#2577 틀림
a,b,c = map(int,input().split())
sum_ = str(a * b * c)
sum_ = list(sum_)
for i in range(9):
    print(sum_.count(str(i)))

432 123 423
0
0
3
0
1
1
1
1
1

In [ ]:
#3052
num = []
na = []
m =[]
for i in range(10):
    num.append(int(input()))
for i in range(10):
    na.append(num[i] % 42)
for i in range(10):
    na.count(i)
na = set(na)
print(len(na))

39
40
41
42
43
44
82
83
84
85
6

In [ ]:
#1546
n = int(input())
num = list(map(int,input().split()))
num_list = []
for i in range(n):
    num_list.append(num[i]/max(num) * 100)

print(sum(num_list) / n)

3
40 80 60
[40, 80, 60]
75.0

In [ ]:
#8958
n = int(input())
for i in range(n):
    OX = input()
    c_score = 0
    sum_score = 0
    for j in OX:
        if j == 'O':
            c_score += 1
        else:
            c_score = 0
        sum_score += c_score
    print(sum_score)

2
OOXXOXXOOO
10
OOXXOOXXOO
9

In [ ]:
#4344
n = int(input())
for i in range(n):
    count = 0
    num = list(map(int,input().split()))
    f_num = num[0]
    del num[0]
    sum_ = sum(num)/f_num
    for j in num:
        if j > sum_:
            count += 1
    print(str("%.3f" % (count / f_num * 100)) + '%')

2
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%