In [ ]:
#51
def mergesort(list_):
    len_list = len(list_)
    if len_list <= 1 :
        return list_
    mid_len_list = len_list // 2
    list_1 = mergesort(list_[:mid_len_list])
    list_2 = mergesort(list_[mid_len_list:])
    re_list = []

    while list_1 and list_2:
        if list_1[0] < list_2[0]:
            re_list.append(list_1.pop(0))
        else:
            re_list.append(list_2.pop(0))
    while list_1:
        re_list.append(list_1.pop(0))
    while list_2:
        re_list.append(list_2.pop(0))
    print(re_list)
    return re_list

list_ = [180,145,165,45,170,175,173,171]
print(mergesort(list_))

[145, 180]
[45, 165]
[45, 145, 165, 180]
[170, 175]
[171, 173]
[170, 171, 173, 175]
[45, 145, 165, 170, 171, 173, 175, 180]
[45, 145, 165, 170, 171, 173, 175, 180]

In [ ]:
처음 mergesort에 들어가게 되면 re_list = []코드 전까지 
리스트가 깊이 우선 탐색느낌??(잘 이해한 거라면) 
[180, 145, 165,45] [170, 175, 173, 171] 
[180, 145] [ 165,45] 
[180] [145]
이렇게 된 이후에 밑의 while 문으로 내려가서 
re_list에 값이 [145,180]으로 저장된다.
위의 설명 두 줄이 마지막 전의 노드의 list_1값으로 반환되고 같은 방법으로 
list_2의 값이 밑의 while문이 돌면서 list_2값으로 반환된다. 
이와 같은 방법으로 계속 돌게 된다.

In [ ]:
#52
def q_list(list_):
    len_list = len(list_)
    if len_list <= 1:
        return list_
    l_list = list_.pop(len_list//2)
    list_1 = []
    list_2 = []

    for i in range(len_list -1):
        if list_[i] < l_list:
            list_1.append(list_[i])
        else:
            list_2.append(list_[i])
    print(list_1,list_2)
    return q_list(list_1) + [l_list] + q_list(list_2)
list_ = [1,5,34,73,2,4,54,6,7]
print(q_list(list_))

[1] [5, 34, 73, 4, 54, 6, 7]
[] [5, 34, 73, 54, 6, 7]
[5, 34, 6, 7] [73]
[5] [34, 7]
[] [34]
[1, 2, 4, 5, 6, 7, 34, 54, 73]

저 리스트를 예로 들면 처음에 리스트 중간에 있는 값인 2를 기준으로 2보다 큰 값은 list_2에 작은 값은 list_1에 저장한다.
이것이 반복되어져서 결과값이 나오게 된다.

In [ ]:
#53
str_ = input()
if str_.count('(') != str_.count(')'):
    print("NO")
else:
    for i in range(len(str_)):
        count = 0
        if str_[i] == '(':
              count += 1
        elif str_[i] == ')':
            count -= 1
            if count <= 0:
                print("NO")
                break
            
    if count > 0 :
        print("NO")

()(()))(
NO

In [ ]:
#54
n = input().split()
re = int(n[0])
print(n, re)

for i in range(len(n)):
    if re != int(n[i]):
        print("NO")
        print(re, n[i])
        break
    re +=1
    if len(n)-1 == i:
        print("YES")

1 2 3 4 5 6 7 8 9 10
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'] 1
YES

In [ ]:
#56
nationWidth = {
    'korea': 220877,
    'Rusia': 17098242,
    'China': 9596961,
    'France': 543965,
    'Japan': 377915,
    'England':242900}
sol = nationWidth['korea']
del nationWidth['korea']

def result(nationWidth,sol):
  p = 0
  m = 0
  while True:
      for i in nationWidth:
          if nationWidth[i] == p + sol:
             return i
          if nationWidth[i] == m + sol:    
             return i
      p += 1
      m -= 1
print(result(nationWidth,sol)+ " " + str(abs(nationWidth[result(nationWidth,sol)] - sol)))

England 22023

In [ ]:
#57
n = int(input())
count_num = 0
for i in range(n+1):
    count_num += list(str(i)).count('1')
print(count_num)

13
6

In [ ]:
#58 
num = list(input())
k = 3
num.insert(len(num) - k,",")
for i in range(1,(len(num)//3) - 1):
    k += 4
    num.insert(len(num) - k,",")
num = "".join(num)
print(num)

1234567
1234,567

In [ ]:
n = int(input())
result = format(n,',')
print(result)

12353242231
12,353,242,231

In [ ]:
#59
n = input()
print("{0:=^50}".format(n))

apple
======================apple=======================

In [ ]:
#60
student = ['강은지','김유정','박현서','최성훈','홍유진','박지호','권윤일','김채리','한지호','김진이','김민호','강채연']
for i in range(len(student)):
    print("번호:{0},이름: {1}".format(i+1,student[i]))

번호:1,이름:강은지
번호:2,이름:김유정
번호:3,이름:박현서
번호:4,이름:최성훈
번호:5,이름:홍유진
번호:6,이름:박지호
번호:7,이름:권윤일
번호:8,이름:김채리
번호:9,이름:한지호
번호:10,이름:김진이
번호:11,이름:김민호
번호:12,이름:강채연

In [ ]:
#61
n = input()
le_ = ""
for i in n:
    if i in le_:
        continue
    le_ += i
    print(i + str(n.count(i)) , end = "")

ssseeefff
s3e3f3

In [ ]:
#62
def a(le):
    return n.count(le)

n = "qqerrrrrrrrrttt"
print(a('q'),a('w'),a('e'),a('r'),a('w'),a('r'),a('q'),a('t'))

2 0 1 9 0 9 2 3

In [ ]:
#63
sen = input().split()
re_list = []
for i in range(len(sen)):
    re_list.append(sen[i][0])
re_list = "".join(re_list)
print(re_list)

나는 배가 고프다
나배고

In [ ]:
#64
def wei_cal(w):
    n_7 = 0
    n_3 = 0
    if w//7 > 0:
        n_7 = w//7
        w = w%7
    if w//3 > 0: 
        n_3 = w//3
        w = w%3
    if w == 0:
        print(f"7kg:{n_7},3kg:{n_3}")
    else:
        print(-1)
w = int(input())
wei_cal(w)

24
7kg:3,3kg:1

In [ ]:
#65
a = [1,2,3,4]
b = ['a','b','c','d']
re_list = []
for i in range(len(a)):
    re_list.append([a[i],b[i]])
print(re_list)

[[1, 'a'], [2, 'b'], [3, 'c'], [4, 'd']]

In [ ]:
#66
def re_put(rule,*k):
    n = []
    for i in range(len(k[0])):
        n.append(k[0][i])
    for i in range(len(n)):
        index_n =[]
        for j in rule:
            if j in n[i]:
                index_n.append(n[i].index(j))
        sorted_index_n = sorted(index_n)
        
        if sorted_index_n == index_n:
            print("가능",end = " ")
        else:
            print("불가능", end = " ")
top = input("탑을 입력해주세요:").split()
rule = input("규칙을 입력하세요:")
re_put(rule,top)

탑을 입력해주세요:VCDASEW ABTRE CDJUY
규칙을 입력하세요:ABCD
(['VCDASEW', 'ABTRE', 'CDJUY'],)
불가능 가능 가능

In [ ]:
#67
def shake(n):
    k = 2
    m_shake = 0
    while ((k * (k-1))/2) - n <= 0:
        m_shake = n - ((k * (k-1))/2)
        print(int(m_shake),[k+1])
        k +=1
n = int(input())
shake(n)

59
[3, 58]
[4, 56]
[5, 53]
[6, 49]
[7, 44]
[8, 38]
[9, 31]
[10, 23]
[11, 14]
[12, 4]

In [22]:
def bus_cal(n_time,b_time):
    re_list = []
    h_re = 0
    m_re = 0
    n_list = []
    n_list = n_time.split(':')
    for i in range(len(b_time)):
        b_m_list = b_time[i].split(':')
        if int(b_m_list[0]) < int(n_list[0]):
            re_list.append("지나갔습니다")
        else:
            if int(b_m_list[0]) == int(n_list[0]) and int(b_m_list[1]) < int(n_list[1]):
                re_list.append("지나갔습니다")
            else:
                if int(b_m_list[1]) > int(n_list[1]):
                    re_list.append(str(int(b_m_list[0]) - int(n_list[0])) + "시간 " + str(int(b_m_list[1]) - int(n_list[1])) + "분")
                else:
                    re_list.append(str(int(b_m_list[0]) - 1 - int(n_list[0])) + "시간 " + str(60 - int(n_list[1]) + int(b_m_list[1])) + "분")
    print(re_list)
b_time = ["12:30", "13:20", "14:13"]
n_time = "12:40"
bus_cal(n_time,b_time)

['지나갔습니다', '0시간 40분', '1시간 33분']

In [16]:
def sol(n):
    count = 0
    for i in range(1,n):
        if n % i == 0:
            count += 1
    if count >= 2:
        return False
    else:
        return True 
n = int(input())
for i in range(2,n-1):
    if sol(i) and sol(n - i) == True:
        print(str(i) + "+" + str(n - i))

32
3+29
13+19
19+13
29+3

In [25]:
a = ([1, 2],
     [2, 4])
b = ([1, 0],
     [0, 3])
re = []
if len (a) != len(b[1]):
    print("-1")
else:
    for i in range(len(a)):
        re.append([0]*len(b[0]))
    for i in range(len(re)):
        for m in range(len(re[i])):
            for t in range(len(a[i])):
                re[i][m] += a[i][t] * b[t][m]
print(re)

[[1, 6], [2, 12]]

<class 'tuple'>